$verde-velux: #DDF1D2;

.nav-pills {
  .nav-link {
    color: #666;
    background-color: transparent;
    font-weight: 500;
    font-size: 0.85rem;
    
    &:hover {
      color: black;
      background-color: #f9f9f9;
    }

    &.active {
      background-color: $verde-velux !important;
      color: black !important;
    }
  }
}

.text-success {
  color: #2c5f2d !important; 
}


.icono-nivel {
  width: 35px; 
  height: 35px;
  object-fit: contain; 
  margin-right: 15px; 
}

.icono-tabla {
  width: 20px;
  height: 20px;
  object-fit: contain;
  vertical-align: middle; 
  margin-right: 10px;
}

.icono-premio {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-bottom: 8px;
  display: block;
}