.detalle-producto {
  padding: 80px;
  font-family: "Roboto", sans-serif;
  color: var(--color-secundario);
}

.producto-principal {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  margin-bottom: 80px;
}

.imagen-producto img {
  width: 420px;
  border-radius: 20px;
  background-color: var(--color-fondo);
}

.info-producto {
  flex: 1;
}

.info-producto h2 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  margin-bottom: 10px;
}

.info-producto .subtitulo {
  color: var(--color-secundario);
  margin-bottom: 20px;
}

.precio {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.valoracion {
  font-size: 16px;
  margin-bottom: 15px;
}

.valoracion span {
  font-weight: 600;
}

.valoracion a {
  color: var(--color-borde);
  font-size: 14px;
  margin-left: 8px;
  text-decoration: none;
}

.cantidad {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.descripcion p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.descripcion h4 {
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: 600;
}

.descripcion ul {
  margin-left: 20px;
  line-height: 1.6;
}

.linea-verde {
  width: 100%;
  height: 12px;
  background-color: var(--color-principal);
  border-radius: 10px;
  margin-bottom: 70px;
}

.producto-principal {
  margin-bottom: 80px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.info-producto {
  padding-top: 10px;
}

.info-producto h2 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  margin-bottom: 10px;
}

.imagen-producto img {
  width: 420px;
  border-radius: 20px;
}

.relacionados {
  max-width: 1100px;
  margin: 0 auto;
}

.relacionados h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  text-align: left;
  margin-bottom: 35px;
}