/* Página Todos los Productos */
.seccion-productos {
  padding: 40px 20px 100px;
}

.rejilla-productos {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
}
