.banner {
  background-color: var(--color-principal);
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
  color: var(--color-secundario);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.banner p {
  display: inline-block;
  margin: 0;
  padding: 0;
  left: 0;
  position: static;
}
