/* Cabecera */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: var(--color-fondo);
  color: var(--color-secundario);
}

.menu-buscador {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buscador {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-borde);
  border-radius: 30px;
  padding: 5px 10px;
}

.buscador input {
  border: none;
  outline: none;
  padding: 0px;
  font-size: 13px;
  width: 170px;
}

.logo img {
  height: 50px;
}

.iconos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
