/* Botones generales */
.btn {
  background-color: var(--color-secundario);
  color: var(--color-fondo);
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--color-hover-secundario);
}

/* Botón mostrar más productos */
.contenedor-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.boton-mostrar {
  background-color: var(--color-principal);
  color: var(--color-secundario);
  border: none;
  padding: 12px 45px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.boton-mostrar:hover {
  background-color: var(--color-hover-principal);
}

/* Botón interesado */
.interesado {
  position: relative;
  background-image: url("../img/banner/banner1.png"); 
  background-size: cover;
  background-position: center;
  height: 350px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-fondo);
  text-align: center;
}

.interesado::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25); 
  border-radius: 16px;
}

.interesado h3,
.interesado button {
  position: relative;
  z-index: 2;
}

.interesado h3 {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  margin-bottom: 20px;
}

.interesado button {
  background-color: var(--color-terciario);
  color: var(--color-secundario);
  border: none;
  padding: 10px 35px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}


/* Botón de mostrar más productos */
.contenedor-boton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.boton-mostrar {
  background-color: var(--color-principal);
  color: #333;
  border: none;
  padding: 12px 45px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.boton-mostrar:hover {
  background-color: var(--color-terciario);
}

/* Botón principal de compra */
.boton-principal {
  background-color: var(--color-secundario);
  color: var(--color-fondo);
  border: none;
  padding: 12px 40px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 30px;
  transition: 0.3s;
}

.boton-principal:hover {
  background-color: var(--color-hover-secundario);
}
